###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto encoding=UTF-8
*.sh text ini eol=lf
